<template name="bookTile">
  <div class="book-tile">
    <div class="book-cover">

    </div>
    <div class="book-info">
      <span class="book-title">Sample Book Title</span><br>
      <span class="book-author">Sample Author</span>
    </div>
    <div class="book-actions">
      <div class="btn-group">
        <!-- <button type="button" class="btn btn-default add-to-book-list">Add to List</button> -->
        <!-- <button type="button" class="btn btn-default start-reading">Start Reading</button> -->
        <button type="button" class="btn btn-default finish-reading">Finish</button>
      </div>
    </div>
  </div>
</template>