/***************/
/**  PROFILE  **/
/***************/

#profile * {
  border: 1px solid black;
}

#profile {
  padding: 15px;
}

.profile_pic {
  border-radius: 100px;
}

#profile .profile_pic {
  height: 200px;
  width: 200px;
  margin: 25px auto;
}