<template name="BaseLayout">
  <div class="container-fluid">
    <div class="row">
      <div class="profile col-sm-2">
        {{> Template.dynamic template=left}}
      </div>
      <div class="main col-sm-7">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Feed</a></li>
              <li><a href="/discover">Discover</a></li>
              <li><a href="/contribute">Contribute</a></li>
            </ul>
          </div>
        </nav>
        {{> Template.dynamic template=main}}
      </div>
      <div class="books col-sm-3">
        {{> Template.dynamic template=right}}
      </div>
    </div>
  </div>
</template>
